 h1 {
    text-align: center;
    background-color: #FEDD00;
    height: 3rem;
    padding: 3rem;
}

.btn-trans {
    background-color: #FEDD00;
    text-align: center;
    height: 50px;
    width: 90px;
    border-style: solid;
}

h3 {
    background-color: #FEDD00;
    text-align: center;
    padding: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.foot {
    text-align: center;
    background-color: #FEDD00;
    height: 2rem;
    padding: 2rem;
}